* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 20px;
  font-family: fantasy;
}

body {
  background-image: url(email-pattern.png);
}

.logo {
  font-family: fantasy;
  font-weight: bolder;
  font-size: 22px;
  color: rgb(243, 234, 234);
  letter-spacing: 5px;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #FF6347;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 45%;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  letter-spacing: 5px;
  color: rgb(243, 234, 234);
  font-weight: bolder;
  font-size: 15px;
  text-decoration: none;
}
.fa {
  padding: 20px;
  width: 50px;
  text-decoration: none;
  
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}
a:hover {
  color: #000;
}
a:active {
  color: rgb(187, 181, 175);
}
.pics{
  width: 50px;

}
ul li{
  font-size: 20px;
  font-weight: 300;

}
.about{
  text-align: center;

}

.row::after{
  display: table;
  clear: both;
  content: "";
}
.column{
  float:left;
  width:40.3%;
  padding: 5px;
  
}
.h2{
  margin: 20px;
}
img{
  border-radius: 40px;
}
.content{
  margin-left: 25px;
  font-style: oblique;
  color:rgb(51, 44, 44);
}
.copyright{
  font-size: 20px;
  background-color: rgb(77, 64, 64);
  color: white;
  padding: 10px;
  text-align: center;

}

